
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Kingsoft Security"
		VALUE "FileDescription", "Origin PC Manager"
		VALUE "FileVersion", "1.0.0.0"
		VALUE "InternalName", "origin.exe"
		VALUE "LegalCopyright", "Kingsoft Security Corporation. All rights reserved."
		VALUE "OriginalFilename", "origin.exe"
		VALUE "ProductName", "Origin PC Manager"
		VALUE "ProductVersion", "1.0.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x804, 1200
}
}
